* {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-family: "Comic Sans MS";
    user-select: none;
}

.container {
    text-align: center;
    margin-top: 60px;
    max-width: 100%;
    width: 100%;
    position: absolute;
    left: 100px;
}

#btn-download {
    display: none;
    background-color: coral;
    color: white;
    border-radius: 8px;
    border: 3px solid white;
    height: 30px;
    width: 200px;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 265px;
}

.textbox {
    background-color: white;
    border: 1.7px solid coral;
    border-radius: 8px;
    color: black;
    text-align: center;
}

#alles {
    position: relative;
    width: 800px;
    max-width: 800px;
    min-height: 1000px;
    max-height: 5px;
    display: none;
    background-color: white;
}

.datum-rng {
    position: absolute;
    left: 20px;
    top: 140px;
    max-width: 200px;
    background-color: white;
    color: black;
}

.btn1 {
    background-color: coral;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    border: 1.6px solid white;
}

.btn1:hover {
    cursor: pointer;
    opacity: 0.9;
}


.img-blatt {
    height: 1000px;
    width: 800px;
    max-height: 2000px;
}

.h6OL {
    position: absolute;
    top: 200px;
    left: 66px;
    background-color: white;
    text-align: left;
    color: black;
    max-width: 250px;
    height: 0px;
}

#blatt {
    display: none;
    position: absolute;
    text-align: center;
    width: 600px;
    max-width: 900px;

}

label {
    background-color: white;
    color: black;
}

.img-logo {
    position: absolute;
    left: 40px;
    width: 700px;
    height: 120px;
}

.h5-con {
    background-color: white;
    color: black;
}

.datum-con {
    visibility: hidden;
    position: absolute;
    left: 90px;
    top: 650px;
    color: black;
    max-width: 100px;
    height: 700px;
}

.betrag-con {
    visibility: hidden; 
    position: absolute;
    left: 660px;
    top: 650px;
    color: black;
    max-width: 100px;
    height: 700px;
}

.grau-main {
    display: none;
    background-color: rgb(55, 55, 55);
    width: 700px;
    height: 30px;
    max-width: 700px;
    position: relative;
    left: 60px;
    top: 558px;
    opacity: 0.3;
}

.grau1 {
    display: none;
    background-color: rgb(55, 55, 55);
    width: 700px;
    height: 25px;
    position: relative;
    left: 60px;
    top: 609.5px;
    opacity: 0.3;
}

.grau2 {
    display: none;
    background-color: rgb(55, 55, 55);
    width: 700px;
    height: 25px;
    position: relative;
    left: 60px;
    top: 637.5px;
    opacity: 0.3;
}

.grau3 {
    display: none;
    background-color: rgb(55, 55, 55);
    text-align: center;
    width: 700px;
    height: 25px;
    position: relative;
    left: 60px;
    top: 665px;
    opacity: 0.3;
}

.gesamt {
    visibility: hidden;
    background-color: white;
    color: black;
    position: absolute;
    left: 610px;
    top: 900px;
    text-align: left;
    max-width: 400px;
}

#bbe {
    position: absolute;
    top: 970px;
    left: 280px;
}

#h2-unter {
    position: relative;
    top: 2px;
    right: 7.5px;
    height: 2px;
    width: 150px;
    background-color: black;
}

#h2-unter2 {
    position: relative;
    top: 5px;
    right: 7.5px;
    height: 2px;
    width: 150px;
    background-color: black;
}

#h2-black {
    background-color: black;
    position: relative;
    left: 581px;
    top: 800px;
    height: 2px;
    width: 170px;
}


#dtm1 {
    color: black;
}

#dtm2 {
    color: black;
}

#dtm3 {
    color: black;
}

#dtm4 {
    color: black;
}

#dtm5 {
    color: black;
}

#dtm6 {
    color: black;
}

#btg1 {
    color: black;
}

#btg2 {
    color: black;
}

#btg3 {
    color: black;
}

#btg4 {
    color: black;
}

#btg5 {
    color: black;
}

#btg6 {
    color: black;
}

/* Beispiel für Media Queries */
/*
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .container {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .container {
        padding: 5px;
    }
}